{
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": true }, "ant"],
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathPrefix": "~",
            "rootPathSuffix": "src"
          }
        ]
      }
    ]
  ]
}
